<div class="title-border">
  <h5 class="card-title">Brands nearby <small class="text-muted">1000ft radius</small></h5>
</div>
<p class="card-text">Here is a list of businesses we found near your property.</p>
<br>
<table class="table table-hover" id="nearby_brands">
</table>
