<div class="title-border">
  <h5 class="card-title">All brands we suggest for this property:</h5>
</div>
<p class="card-text"> Example: 36(1.24), where 36 is Planetome Similarity Index (PSI) and (1.24) is miles to the closest other location of this brand.</p>
<br>
<table class="table table-hover" id="recommended_brands_all">
</table>
