<div class="title-border">
  <h5 class="card-title">Location data</h5>
</div>
<p><button class="btn btn-sm btn-primary btn-planetome" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Expand data results
  </button></p>
<div class="collapse " id="collapseExample">
  <p class="card-text">Here we show you the data to help you streamline your decision-making process.</p>
  <dl class="row">
    <dt class="col-12 col-sm-12 col-xl-2 col-lg-2">Feature</dt>
    <dd class="col-12 col-sm-12 col-xl-10 col-lg-10">One data point. Where "cnt_" means "Count".</dd>

    <dt class="col-12 col-sm-12 col-xl-2 col-lg-2">Value</dt>
    <dd class="col-12 col-sm-12 col-xl-10 col-lg-10">Value of the data point.</dd>

    <dt class="col-12 col-sm-12 col-xl-2 col-lg-2">Delta</dt>
    <dd class="col-12 col-sm-12 col-xl-10 col-lg-10">The % that means how important is that Feature for this place and type of the business.</dd>
    <hr>
    <dt class="col-12 col-sm-12 col-xl-2 col-lg-2"><i>Example</i></dt>
    <dd class="col-12 col-sm-12 col-xl-10 col-lg-10">Type: Cafe | Feature: cnt_movie_theater | Value: 5 | Delta: 35% <br>It means that for this location existence of 5 Movie Theaters is on 35% better for cafe then other.</dd>
  </dl>
  <br>
  <table class="table table-hover table-sm" id="arguments">
  </table>
</div>
