<!-- <div class="card card-inner">
  <div class="card-body">
    <h4 class="card-title">Longitude & Latitude position on the map above</h4>
    <p>
      Longitude:
      <small class="" id='info'>Navigate cursor on the map</small>
    </p>
    <p>
      Latitude:
      <small class="" id='info2'></small>
    </p>
  </div>
</div> -->
