<h6 class="card-title">Select a business type to see the data<small class="text-muted"> Tap below to change it.</small></h6>
<select class="form-control test" id='category' name='layer' onchange="update_results()">
  <option value='cafe'>Cafe</option>
  <option value='gym'>Gym</option>
  <option value='furniture_store'>Furniture store</option>
  <option value='clothing_store'>Clothing store</option>
  <option value='bar'>Bar</option>
  <option value='restaurant'>Restaurant</option>
  <option value='convenience_store'>Convenience store</option>
  <option value='laundry'>Laundry</option>
  <option value='hair_care'>Hair care</option>
  <option value='car_repair'>Car repair</option>
  <option value='car_wash'>Car wash</option>
  <option value='beauty_salon'>Beauty salon</option>
  <option value='spa'>Spa</option>
  <option value='home_goods_store'>Home goods store</option>
  <option value='grocery_or_supermarket'>Grocery store or supermarket</option>
  <option value='pharmacy'>Pharmacy</option>
</select>
