<div class="card card-planetome">
  <div class="card-body">
    <div class="title-border">
      <h5 class="card-title">Instructions:</h5>
    </div>
    <p class="card-text">1. Navigate the map to your area or put the address in the search bar.
      <br>
      2. Zoom in to see your building.
      <br>
      3. Click on the building it to see the recommendations.
    </p>
    <p class="card-text">For any type of questions and feedback, please,<a class="link-style" href="mailto:roman@planetome.com" target="_blank" role="button"> email us. </a></p>
  </div>
</div>
