<div class="row">
  <div class="col-12">
    <div class="card card-planetome" >
      <img class="card-img-top card-leftsidebar-img" src="https://farm5.staticflickr.com/4675/39649691735_4f2fd8ddb0_c.jpg"   alt="">
      <!-- <div class="card-body"> -->
        <!-- <h4 class="place-name"><i class="fas fa-location-arrow mr-1"></i>San Francisco</h4>
        <p class="place-statuses"><i class="fas fa-sun mr-2"></i> Sunny 96˚F</p> -->
        <!-- <h6 class="card-text ">Feel free to connect with us!</h6> -->
      <!-- </div> -->
      <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-text">Feel free to connect with us any of the following ways!</li>
        <div class="btn-group-vertical">
          <a class="btn btn-outline-primary btn-sidebar btn-sm list-group-item btn-outline-primary-sidebar" href="https://www.planetome.com" role="button">Planetome</a>
          <a class="btn btn-outline-primary btn-sidebar btn-sm list-group-item btn-outline-primary-sidebar" href="https://www.facebook.com/planetome/" role="button">Facebook</a>
          <a class="btn btn-outline-primary btn-sidebar btn-sm list-group-item btn-outline-primary-sidebar" href="https://twitter.com/planetome" role="button">Twitter</a>
          <a class="btn btn-outline-primary btn-sidebar btn-sm list-group-item btn-outline-primary-sidebar" href="https://angel.co/planetome" role="button">Angel.co</a>
          <a class="btn btn-outline-primary btn-sidebar btn-sm list-group-item btn-outline-primary-sidebar" href="mailto:roman@planetome.com" target="_blank" role="button">Email to Founders</a>
        </div>
      </ul>
      <br>
    </div>
  </div>
</div>
<br>
