<div class="card card-planetome">
  <div class="card-header card-header-index">
    <h5 class="card-title">Report
      <small class="text-muted">| Alpha version</small>
    </h5>
  </div>
  <div class="card-body">
    <%= render 'pages/components/report_components/selectcategory'%>
    <br>
    <hr>
    <%= render 'pages/components/report_components/brandscategory'%>
    <br>
    <hr>
    <%= render 'pages/components/report_components/brandsnearby'%>
    <br>
    <hr>
    <%= render 'pages/components/report_components/locationdata'%>
  </div>
</div>
