<div class="row">
  <div class="col-12">
    <div class="card card-planetome" >
      <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
      <div class="card-body">
        <h5 class="card-title">Your Profile</h5>
        <p class="card-text">Join the AI-powered commercial real estate platform to rocket your career.</p>
      </div>
      <ul class="list-group list-group-flush list-group-flush-test">
        <div class="btn-group">
          <a class="btn btn-outline-primary btn-sidebar m-0 list-group-item btn-outline-primary-sidebar" href="https://www.planetome.com" role="button">Sign Up</a>
          <a class="btn btn-outline-primary btn-sidebar m-0 list-group-item btn-outline-primary-sidebar" href="https://www.facebook.com/planetome/" role="button">Log In</a>

        </div>
        <!-- <li class="list-group-item">Vestibulum at eros</li> -->
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>
</div>
