<div class="row">
  <div class="offset-md-2 col-md-8">
    <div class="tag-line-row">
      <h3 class="text-center">Understand the best use of your commercial property.</h3>
    </div>
    <!-- <form class="form-group">
      <div class="form-row search-row">
        <div class="col-md-10 mb-3">
          <input type="search" class="form-control search-input" placeholder="Where your property located?" aria-label="Search">
        </div>
        <div class="col-md-2 mx-auto ">
          <button class="btn btn-outline-danger btn-block search-button" type="submit">Search</button>
        </div>
      </div>
    </form> -->
  </div>
</div>
