<div class="row">
  <div class="col-12">
    <div class="card card-planetome" >
      <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
      <div class="card-body">
        <h5 class="card-title">Startups.Space</h5>
        <p class="card-text">Entrepreneurial frontier of space and beyond.</p>
      </div>
      <ul class="list-group list-group-flush">
        <div class="btn-group-vertical">
          <button type="button" class="btn btn-outline-primary btn-sidebar" data-toggle="modal" data-target="#exampleModalLong">
            Startups
          </button>
          <button type="button" class="btn btn-outline-primary btn-sidebar" data-toggle="modal" data-target="#exampleModalLong">
            Mentors
          </button>
          <button type="button" class="btn btn-outline-primary btn-sidebar" data-toggle="modal" data-target="#exampleModalLong">
            Pro
          </button>
          <button type="button" class="btn btn-outline-primary btn-sidebar" data-toggle="modal" data-target="#exampleModalLong">
            Enterprises
          </button>
        </div>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>
</div>
