@import "bootstrap";
@import "pages";
@import "leftsidebar";
@import "footer";
@import "navigation";

:root {
  --main-color: #0A203B;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa;
  font-size: 13px;
  margin: 0;
  padding: 0;
  color: var(--main-color);
}

.card-planetome {
  border-radius: 0px;
  border: 0px;
  box-shadow:  0 0px 8px 0 rgba(0, 0, 0, 0.1), 0 0px 8px 0 rgba(0, 0, 0, 0.1);
}

.card-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}





// UNUSED CSS - DO NOT DELETE

// .search-input {
//   border-radius: 2px;
//   border: 0px;
//   box-shadow:  0 0px 8px 0 rgba(0, 0, 0, 0.1), 0 0px 8px 0 rgba(0, 0, 0, 0.1);
//   color: #fff;
//   height: 45px;
//   font-weight: 300;
// }

// .search-button {
//   border-radius: 2px;
//   border: 0px;
//   box-shadow:  0 0px 8px 0 rgba(0, 0, 0, 0.1), 0 0px 8px 0 rgba(0, 0, 0, 0.1);
//   height: 45px;
//   font-weight: 700;
// }

// .card-field-main {
//   border-radius: 5px;
//   height: 7em;
// }

// .place-name {
//   color: #707070;
//   font-weight: 300;
//   font-size: 18px;
// }

// .place-statuses {
//   color: #707070;
//   font-weight: 300;
// }

// .fa-sun {
//   color: #FDF40F;
// }

// For _rightsidebar
// .list-group-flush-test {
//   margin: 0px;
// }
