<nav class="navbar navbar-expand-lg navbar-light navbar-margin navbar-color-shadow">
  <%= link_to image_tag('logo.png',style: 'height:30px;width:auto;margin-top:5px;'), root_path, id: "" %>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <!-- <div class="collapse navbar-collapse" id="navbarNavDropdown"> -->
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="navbar-nav">

      <button type="button" class="btn  btn-sm btn-link mr-2 btn-menu-nav pr-5 " data-toggle="modal" data-target="#exampleModal">
        <i class="far fa-compass"></i>
      </button>

      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content model-dialog-menu">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Menu</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
               <p>Menu is under development.</p>
            </div>
          </div>
        </div>
      </div>


    </ul>
  <!-- </div> -->
</nav>
